.container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .greeting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .header {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    
    .content {
        font-size: 1.2rem;
        color: #666;
        margin-bottom: 10px;
    }
}

